a {
    color: rgb(213, 226, 199);
    font-style: italic;
    height: 60px;
    width: 60px;
    font-variant: small-caps;
    background-color: rgb(31, 32, 30);
    border-radius: 5px;
    
}
h1{
    background-color: bisque;
    font-style: oblique;
    
}
body {
    background-color: darkolivegreen;
}
